*{
    margin: 0;
    padding: 0;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 100dvw;
    height: auto;
    gap: 10px;
    background-color: rgb(200, 207, 184);
}

h1{
    text-align: center;
}

.container{
    background-color: rgb(109, 134, 77);
    border: 2px solid;
    width: 50vw;
    padding: 3vw;
    margin-left: 25vw;
    margin-right: 25vw;
}

.container-input{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    font-size: x-large;
}

.container-btn{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 5px;
}

.btn-1{
    padding: 12px 24px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    align-items: center;
}
